@model IEnumerable<WebShop.Context.category>

@{
    ViewBag.Title = "Index";
}

<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap ">
                            <img src="~/Content/images/category/@item.image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">@item.name</a></h4>
                            <ul class="list-menu">
                                <li><a href="">Unisex T shirts</a></li>
                                <li><a href="">Casual shirts</a></li>
                                <li><a href="">Scherf Ice cream</a></li>
                                <li><a href="">Another category</a></li>
                                <li><a href="">Great items name</a></li>
                                <li><a href="">Great items name</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- col.// -->
            }

        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>